.App {
  text-align: center;
  margin: auto;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.init {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.game {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(100px, .4fr) 1fr;
  grid-template-rows: 4rem 3rem 1rem minmax(350px, auto) auto;
  grid-template-areas:
    "header header"
    "statusbar statusbar"
    "progressbar progressbar"
    "playarea playarea"
    "playerinfo playerinfo";
}

.header {
  grid-area: header;
}

.playerInfo {
  grid-area: playerinfo;
  background-color: var(--backgroundArea);
  border-radius: 1rem;
  align-self: start;
  height: 100%;
}

.playArea {
  grid-area: playarea;
  height: 100%;
}


.statusBar {
  grid-area: statusbar;
  display: flex;
  background-color: var(--backgroundArea);
  border-radius: 1rem;
  align-items: center;
  height: 100%;
}

.progressBar {
  grid-area: progressbar;
}

@media only screen and (min-width: 600px) {
  .game {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 4rem 3rem 1rem minmax(400px, auto);
    grid-template-areas:
    "header header"
    "statusbar statusbar"
    "progressbar progressbar"
    "playerinfo playarea";
  }

}


@media only screen and (min-width: 992px) {
  .game {
    /*min-height: 80vh;*/
    width: 70%;
    margin: auto;

    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 4rem 3rem 1rem minmax(400px, auto);
    grid-template-areas:
    "header header"
    "statusbar statusbar"
    "progressbar progressbar"
    "playerinfo playarea";
  }
}


