.title {
    padding: 2rem 0;
    font-size: 3rem;
    font-family: cafeteriabold;
}


.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 3rem auto auto;
    grid-template-areas:
    "header"
    "gamestatus timer"
    "gamearea"
    "playerinfo";
}

.header {
    grid-area: header;
}

.playerInfo {
    grid-area: playerinfo;
}

.playArea {
    grid-area: playarea;
}

.gameStatus {
    grid-area: gamestatus;
}

.timer {
    grid-area: timer;
}

@media only screen and (min-width: 600px) {
    .home {

    }
}

@media only screen and (min-width: 992px) {
    .home {

    }
}