.hintItems {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.hintItem {
    background-color: var(--backgroundDark);
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 6px;
}