.hinterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hinter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.secretWord {
    font-size: 3rem;
    font-family: cafeteriabold;
    margin: 1rem 0 2rem 0;
}

.secretWordContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #d0c39f5c;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.hintInput input{
    background-color: var(--backgroundLight);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: skew(2deg, 1deg);
    font-size: calc(3rem + 2vw);
    border: 1px solid transparent;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    padding: 1rem;


}
.hintInput {
    padding: 6px;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: skew(-1deg, -1deg);
    width: fit-content;
    border-radius: 8px;

}

.description {
    color: #676767;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.descriptionSW {
    color: #676767;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 1rem;
}