.wrapper {
    min-width: 13rem;
    background-color: var(--backgroundDark);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
}

.wrapper h3 {
    margin-top: 0;
}

.selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectors label {
    font-size: 1.4rem;
}

.selectors select {
    width: 4rem;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    border-radius: 5px;
}