.announcement {
    color: white;
    font-size: 8rem;
}

.announcement div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}

.highlight {
    font-weight: bold;
    font-size: 1.5em;
}
